.wrapper {
    margin: 0px auto;
    width: 1600px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    /* line-height: 140%; */
    background-image: url(/assets/bg-image.jpg);
    background-repeat: no-repeat;
    font-weight: normal;
    /* height: 740px; */
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

strong {
    font-weight: bold;
}

.btn {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    font-size: 14px;
    /* display: flex; */
    text-align: center;
    text-transform: uppercase;
    background: #00afdb;
    color: white;
    padding: 15px 47px;
    border: none;
}

.btn:hover {
    background: #009cc2;
    cursor: pointer;
}

/* header */
.site-header {
    height: 95px;
    padding-top: 25px;
}

.navbar-header ul {
    margin: 0px auto;
    padding-right: 17px;
    width: 582px;
    display: flex;
    justify-content: space-between;
}

.navbar-header a {
    display: block;
    margin-top: 16px;
    padding-bottom: 3px;
    color: white;
    font-weight: 300;
    opacity: 0.8;
    text-decoration: none;
}

header .logo {
    margin: 0 15px;
}

.navbar-header .active a {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    font-weight: 500;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    /* width: 730px; */
}

main {
    /* min-height: 100vh; */
    margin-top: 110px;
}

/* Your life section */

.your-life {
    text-align: center;
    color: white;
}

.your-life p {
    font-size: 18px;
    line-height: 140%;
    margin-top: 22px;
}

.your-life button {
    margin: 30px auto 0px auto;
}

.social {
    width: 169px;
    display: flex;
    justify-content: space-between;
    margin: 183px auto 0 auto;
}

.social svg:hover circle {
    stroke: #00afdb;
}

.social svg:hover path {
    fill: #00afdb;
}


/* Rappresent section */

.rappresent {
    margin-top: 87px;
    /* height: 500px; */
    background-color: white;
    /* overflow: auto; */
}

.rappresent-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 141px;
    margin: 0px auto;
    width: 1062px;
}

.rappresent-text {
    width: 407px;
}

.rappresent h2 {
    color: #373737;
}

.rappresent p {
    line-height: 140%;
    margin-top: 25px;
    margin-bottom: 30px;
    color: #4e4e4e;
}

/* Our community section*/

.our-community {
    background-color: #f5f6f7;
    height: 504px;
    overflow: auto;
    /* overflow: auto; */
}

.our-community-wrap {
    display: flex;
    align-items: center;
    margin-top: 120px;

    /* justify-content: end; */
}

.our-community-wrap h3 {
    margin-top: 19px;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}

.slider {
    position: relative;
    /* width: 906px; */
    width: 894px;
}

.slider .images {
    overflow: hidden;

    display: flex;
    /* z-index: 99; */
}

.slider .images img:not(:last-child) {
    margin-right: 30px;
}

.arrows {
    position: absolute;
    margin-top: -43px;
    margin-left: 543px;
    font-size: 18px;
    /* font-weight: bold; */
    line-height: 140%;
}

.arrows svg:hover path {
    stroke: #00afdb;
}
.arrows svg:hover {
    cursor: pointer;
}

.arrows .arrow-left {
    margin-right: 11px;
}

.arrows .arrow-right {
    margin-left: 9px;
}

.our-community-text {
    margin-right: 141px;
    margin-left: 271px;
    width: 298px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.our-community-wrap p {
    line-height: 140%;
    /* or 20px */
    text-align: center;
    color: #4e4e4e;
}

/* implement */

.implement {
    height: 841px;
    overflow: auto;
}

.implement-wrap {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    /* padding-top: 120px;
    padding-bottom: 139px; */
    margin: 0px auto;
    width: 1062px;
    margin-top: 120px;
}

.implement-wrap img {
    margin-right: 139px;
}

.implement p {
    line-height: 140%;
    font-size: 14px;
    margin-top: 21px;
    margin-bottom: 32px;
    /* or 20px */
    /* text-align: center; */
    color: #4e4e4e;
    /* margin-top: 25px;
    margin-bottom: 30px; */
}
.implement h2 {
    color: #373737;
}

.implement-text {
    width: 407px;
}

/* Subscribe section */

.subscribe {
    background-image: url("./assets/background-subscribe.jpg");
    height: 599px;
    overflow: auto;
}

.subscribe-wrap {
    width: 406px;
    margin: 0px auto;
    text-align: center;
    margin-top: 218px;
}

.subscribe h2 {
    color: #ffffff;
}

.submit-email {
    display: flex;
    height: 47px;
    margin-top: 29px;
}

.submit-email input {
    line-height: 140%;
    width: 340px;
    padding-left: 24px;
    padding-top: 4px;
    box-sizing: border-box;
    border: none;
}

.submit-email button {
    padding-top: 5px;
    width: 66px;
    background-color: #00afdb;
    border: none;
}

.submit-email button:hover {
    background-color: #009cc2;
    cursor: pointer;
}

/* Download section */

.download {
    text-align: center;
    width: 483px;
    height: 348px;
    margin: 0px auto;
    margin-top: 120px;
}

.buttons {
    display: flex;
    /* margin: 0 auto; */
    justify-content: space-evenly;
}

.buttons button:first-child {
margin-right: 30px;}

.download button {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    font-size: 14px;
    /* display: flex; */
    text-align: center;
    text-transform: uppercase;
    background: #00afdb;
    color: white;
    /* padding-right: 0px; */
    /* padding: 18px 16px 17px 16px; */
    height: 50px;
    border: none;

    display: flex;
    padding: 0px;
    width: 190px;
    /* margin: 0 auto; */
}

.download button:hover {
    background: #009cc2;
    cursor: pointer;
}
.download h2 {
    color: #373737;
}

.download p {
    line-height: 140%;
    font-size: 14px;
    margin-top: 21px;
    margin-bottom: 30px;
    /* or 20px */
    /* text-align: center; */
    color: #4e4e4e;
}

.buttons span {
    /* background-color: #00afdb; */
}
.buttons .apple-btn {
    /* display: inline-block; */
    padding: 19px 21px 15px 19px;
    /* background-color: #00afdb; */
}

.buttons .apple-icon {
    background-color: #009cc2;
    padding: 14px 21px 13px 21px;
}

.buttons .android-icon {
    background-color: #009cc2;
    padding: 12px 19px 12px 22px;
}

.android-btn {
    /* background-color: #00afdb; */
    padding: 19px 17px 15px 18px;
}




footer {background-color: #000000;
    height: 184px;
    overflow: auto;
    line-height: 140%;
}

.wrap-footer {
    margin: 60px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;

}

.navbar-footer {
    /* display: flex;
   justify-content: center; */
   margin-right: auto;


}
.navbar-footer ul{
    display: flex;
    justify-content: space-between;
    opacity: 0.98;
    width: 235px;
}

.navbar-footer ul a {
    text-decoration: none;
    
    color: #ffffff;
}

.navbar-footer ul a:hover{
    color: #00afdb;
}

.copyrights{
    width: 235px;
    color: #818181;
    text-align: end;
    margin-left: auto;

}

/* .wrap-footer .logo {
    margin: 0px 16px;
} */