.wrapper {
    margin: 0px auto;
    min-width: 1600px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    background-image: url(/assets/bg-image.jpg);
    font-weight: normal;
    /* height: 740px; */
}

/* header */
.site-header {
    height: 95px;
    padding-top: 25px;
}

.navbar-header ul {
    margin: 0px auto;
    padding-right: 17px;
    width: 582px;
    display: flex;
    justify-content: space-between;
}

.navbar-header a {
    display: block;
    margin-top: 16px;
    padding-bottom: 3px;
    color: white;
    font-weight: 300;
    opacity: 0.8;
    text-decoration: none;
}

.logo {
    margin: 0 15px;
}

.navbar-header .active a {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    font-weight: 500;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    /* width: 730px; */
}


main {
    /* min-height: 100vh; */
    margin-top: 110px;
}

.your-life {    
    width: max-content;
    text-align: center;
    color: white;
    margin: 0px auto;
}

.your-life p {
    font-size: 18px;
    line-height: 140%;
    margin-top: 22px;
}

.your-life button {
    margin: 30px auto 0px auto;
}

.social {
    width: 169px;
    display: flex;
    justify-content: space-between;
    margin: 183px auto 0 auto;
}

.btn:hover {
    background: #009cc2;
}

.rappresent {
    margin-top: 89px;
    background-color: white;
}

.rappresent-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 140px;
    margin: 0px auto;
    width: 1060px;
}

.rappresent-text {
    width: 407px;
}

.rappresent h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.rappresent p {
    line-height: 140%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.btn {
    font-family: Roboto;
    font-weight: bold;
    line-height: 16px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    background: #00afdb;
    color: white;
    padding: 15px 47px;
    border: none;
}

strong {
    font-weight: bold;
}

/* our community section*/

.our-community {
    background-color: #f5f6f7;
}

.our-community-wrap {
    padding-top: 120px;
    padding-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.our-community-wrap h3 {
    margin-top: 19px;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}

.slider {
    display: flex;
    width: 906px;
    overflow-x: hidden;
}

.slider img:not(:last-child) {
    margin-right: 30px;
}

.our-community-text {
    margin-right: 141px;
    margin-left: 271px;
    width: 298px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.our-community-wrap p {
    line-height: 140%;
    /* or 20px */
    text-align: center;
    color: #4e4e4e;
}
