@font-face {
    font-family: "Georgia";
    src: url("../../assets/fonts/Georgia.ttf");
    font-style: normal;
    font-weight: normal;
}

:root {
    font-size: 10px;
}

html,
body {
    position: relative;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    max-width: 100%;
}

/* h1 is hidden */
h1 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
}

h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 4.4rem;
    line-height: 130%;
    align-items: center;
    color: #ffffff;
}

h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.2rem;
    color: #545454;
}

h5 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
        letter-spacing: 0.09rem;
    color: #545454;
}

h4 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.btn {
    padding: 16px 45px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #292929;
    background: #f1cdb3;
    box-sizing: border-box;
    border-radius: 26px;
    border: none;
    outline: none;
}

p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;

}

.btn:hover {
    background: #fddcc4;
    cursor: pointer;
}

/* header */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap {
    padding-top: 6rem;
    width: 1200px;
    margin: 0 auto;
}
.navbar-header {
    width: 37%;
}

.navbar-header ul {
    display: flex;
    justify-content: space-between;
}

.navbar-header li {
    list-style: none;
}

.navbar-header a {
    display: block;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    text-decoration: none;
}

.navbar-header a:hover {
    color: #fafafa;
}

.navbar-header .active a {
    color: #fafafa;
    border-bottom: 0.3rem solid #f1cdb3;
}

header .logo-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.2rem;
    color: #f1cdb3;
}

header .logo-subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    /* line-height: 110%; */
    letter-spacing: 0.13rem;
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
}

/* start-screen */

.start-screen {
    /* height: 908px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: center no-repeat url("../../assets/images/bg-start-screen.png");
}

.start-screen-wrap {
    padding-top: 6.2rem;
    width: 120rem;
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.start-screen-text {
    width: 39%;
    padding-bottom: 8.2rem;
}

.start-screen-wrap img {
    align-self: flex-end;
    margin-left: 34px;
}

.start-screen-text p {
    color: #cdcdcd;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 42px;
}

.start-screen-text button {
    margin-top: 42px;
}

/* about section */

.about {
    display: flex;
}

.about-wrap {
    width: 120rem;
    margin: 0px auto;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 8rem 17.5rem 10rem 17.5rem;
    box-sizing: border-box;
    
}

.about-image-wrapper {
    display: flex;
}

.about-image-wrapper img {
    width: 100%;
}

.about-wrap>div {
    /* display: flex;
    width: 100%; */

}

.about-text {
    max-width: 43rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
}

.about-text p {
    margin-top: 2.5rem;
}

.about-text p {
    color: #4c4c4c;
}

/* pets section*/

.pets {
    background-color: #f6f6f6;
    /* height: 877px; */
    display: flex;
    align-items: center;
}

.pets-wrap {
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 95%;
    padding: 8rem 15px 10.1rem 15px;
    box-sizing: border-box;

}

.slider {
    color: #545454;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.9rem;
    position: relative;
    margin-top: 6rem;
}

.card {
    box-sizing: border-box;
    /* padding: 30px 35px; */
    height: 43.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: #fafafa;
    align-items: center;
}

.card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

}
.card-title {
    
    margin-top: 31px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    /* line-height: 2.3rem; */
    /* line-height: 110%; */
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.slider .card button {
    margin-top: 31px;

    padding: 13px 42px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    outline: none;
    background-color: inherit;
}

.slider .card button:hover {
    cursor: pointer;
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
}

.pet-button {
    margin: 0px auto;
    margin-top: 6rem;

}

.slider .left-arrow,
.slider .right-arrow  {
    position: absolute;
    border-radius: 50%;
    outline: none;
    background-color: #f6f6f6;
    border: 2px solid #f1cdb3;
    padding: 17px;
    top: 44%;
}

.slider .right-arrow {
    right: -15px;
}

.slider .left-arrow {
    left: -15px;
}

.slider .right-arrow:hover,
.slider .left-arrow:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    cursor: pointer;
}

/* help section */

.help {
    color: #545454;
    display: flex;
    align-items: center;
}

.help-wrap {
    width: 120rem;
    margin: 0px auto;
    text-align: center;
    padding-top: 8.2rem;
    padding-bottom: 7.2rem;
}

.help-wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 31px;
}

.help-wrap ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 12em;
}

.help-wrap ul li + li{
    margin-left: 12rem;
}


/* donation section */

.donation {
    background-color: #f6f6f6;
    /* height: 464px; */
    display: flex;
    align-items: center;
}

.donation-wrap {
    width: 120rem;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10.1rem;
    padding-top: 8.1rem;
}


.donation-text {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 14px;

}

.donation-text h4 {
    background-color: #f1cdb3;
    background-image: url("../../assets/icons/credit-card.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    border-radius: 9px;
    padding: 10px 15px 10px 60px;
    width: fit-content;
}

.donation-description {
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #b2b2b2;
}

.donation-wrap img {
    padding-top: 11px;
    padding-bottom: 10px;
}

.donation-wrap a {
    text-decoration: none;
}

/* footer */

footer {
    background: url(../../assets/images/noise_transparent@2x.png) repeat,
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
        #211f20;
    /* height: 354px; */
    display: flex;
}

.footer-wrap {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

footer h3 {
    color: #ffffff;
}

footer h4 {
    color: #f1cdb3;
}

.footer-column-s {
    width: 25.5%;
    padding-top: 17px;
}

.footer-column-s .location-1 {
    margin-top: 32px;
}

.footer-column-s .location-2 {
    margin-top: 34px;
}

.footer-column-f {
    min-width: 30%;
    padding-top: 17px;
}

.footer-column-f .email,
.footer-column-f .tel {
    margin-top: 4rem;
}

footer a {
    text-decoration: none;
    color: #f1cdb3;
}

footer svg {
    padding-right: 20px;
}

.footer-column-s  a,
.footer-column-f  a {
    display: flex;
    align-items: center;
}

footer img {
    align-self: flex-end;
}

.location-1 svg {
    flex-shrink: 0;
}

.location-2 h4 {
    display: flex;
    align-items: center;
}
