html,
body {
    position: relative;
    /* font-family: Roboto;
    font-size: 14px; */
    font-style: normal;
    font-weight: normal;
    /* min-width: 1600px; */
}

/* h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.btn {
    padding: 15px 47px;
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    font-size: 14px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #00afdb;
    border: none;
    outline: none;
} */

.btn:hover {
    background: #009cc2;
    cursor: pointer;
}

/* header */
.site-header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar-header ul {
    display: flex;
    justify-content: right;
}

.navbar-header li {
    list-style: none;
}

.navbar-header a {
    display: block;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    text-decoration: none;
}

header .logo-title {
    /* logo-title */

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* base-pink */

    color: #F1CDB3;
}

.navbar-header .active a {
    /* padding-bottom: 3px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    font-weight: 500; */
}

.navbar-header a:hover {
    /* opacity: 1; */
}

.title {
    /* text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    margin-left: 3px; */
}

/* Your life section */
