html,
body {
    position: relative;
    /* font-family: Roboto;
    font-size: 14px; */
    font-style: normal;
    font-weight: normal;
    width: 100vw;
    box-sizing: border-box;

    /* min-width: 1600px; */
}

/* h1 is hidden */
h1 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
}

h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    align-items: center;
    /* base-white */
    color: #ffffff;
}

h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.btn {
    padding: 16px 44px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;

    /* start-screen-button */

    color: #292929;
    background: #f1cdb3;
    box-sizing: border-box;
    border-radius: 26px;
    border: none;
    outline: none;
}

.btn:hover {
    background: #fddcc4;
    cursor: pointer;
}

/* header */
.site-header {
    position: absolute;
    width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: teal; */
}
.navbar-header {
    width: 37%;
}

.navbar-header ul {
    display: flex;
    justify-content: space-between;
}

.navbar-header li {
    list-style: none;
}

.navbar-header a {
    display: block;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    text-decoration: none;
}

.navbar-header a:hover {
    color: #fafafa;
}

.navbar-header .active a {
    color: #fafafa;
    /* padding-bottom: 3px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    font-weight: 500; */
}

.logo {
    /* width: 15%; */
    /* display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: end;
     */
}

.logo {
    text-align: end;
}

header .logo-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* base-pink */

    color: #f1cdb3;
}

header .logo-subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.1em;

    /* base-white */

    color: #ffffff;
    text-align: right;
    margin-top: 0.8em;
}

/* start-screen */

.start-screen {
    height: 908px;
    display: flex;
    align-items: center;
    background-image: url("../../assets/start-screen-puppy.png");
    padding-top: 98px;
    box-sizing: border-box;
}

.start-screen-wrap {
    width: 1200px;
    margin: 0px auto;
}

.start-screen-text {
    width: 39%;
}
.start-screen-text p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* color-dark-s */

    color: #cdcdcd;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-top: 42px;
}

.start-screen-text button {
    margin-top: 42px;
}

/* about section */

.about {
    height: 588px;
    display: flex;
    align-items: center;
}

.about-wrap {
    padding-bottom: 20px;
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.about-text {
    width: 432px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-wrap img {
    margin-right: 10%;
}

.about-text p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #4c4c4c;
}

/* pets */

.pets {
    background-color: #f6f6f6;
    height: 877px;
    display: flex;
    align-items: center;
}

.pets-wrap {
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 95%;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.slider {
    color: #545454;
    display: flex;
    justify-content: space-evenly;
    border-radius: 9px;
    position: relative;
}

.slider .card:nth-child(2) {
    /* margin-left: 10px;
    margin-right: 10px; */
}

.card {
    box-sizing: border-box;
    padding: 30px 35px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;
    align-items: center;
}
.card-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.slider .card button {
    padding: 13px 42px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #f1cdb3;
    /* box-sizing: border-box; */
    border-radius: 100px;
    outline: none;
    background-color: inherit;
}

.slider .card button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;

}

.pet-button {
    margin: 0px auto;
}

.slider .left-arrow {
    position: absolute;
    border-radius: 50%;
    outline: none;
    background-color: #f6f6f6;
    border: 2px solid #f1cdb3;
    padding: 17px;
    top: 44%;
    left: -1%;
}

.slider .right-arrow {
    position: absolute;
    border-radius: 50%;
    outline: none;
    background-color: #f6f6f6;
    border: 2px solid #f1cdb3;
    padding: 17px;
    top: 44%;
    right: -15px;
}

.slider .right-arrow:hover,
.slider .left-arrow:hover
{background-color:#FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;

}


/* help section     */