html,
body {
    position: relative;
    /* font-family: Roboto;
    font-size: 14px; */
    font-style: normal;
    font-weight: normal;
    /* min-width: 1600px; */
}

/* h1 is hidden */
h1 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
}

.site-header h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    align-items: center;
    /* base-white */
    color: #ffffff;
}

/*
.btn {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    font-size: 14px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #00afdb;
    border: none;
    outline: none;
} */

.btn {
    padding: 15px 42px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;

    /* start-screen-button */

    color: #292929;
    background: #f1cdb3;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
}

.btn:hover {
    background: #fddcc4;
    cursor: pointer;
}

/* header */
.site-header {
    position: absolute;
    width: 1200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 65px;
    display: flex;
    justify-content: space-between;
    background-color: teal;
}
.navbar-header {
    width: 39%;
}

.navbar-header ul {
    display: flex;
    justify-content: space-between;
}

.navbar-header li {
    list-style: none;
}

.navbar-header a {
    display: block;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    text-decoration: none;
}

header .logo-title {
    /* logo-title */

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* base-pink */

    color: #f1cdb3;
}

header .logo-subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    /* base-white */

    color: #ffffff;
}

.start-screen {
    background-color: teal;
    height: 728px;
    display: flex;
    align-items: center;
}

.start-screen-wrap {
    width: 1200px;
    margin: 0px auto;
}

.start-screen-text {
    width: 38%;
}

/* about section */

.about {
    height: 588px;
    display: flex;
    align-items: center;
}

.about-wrap {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

.about-text {
    width: 361px;
    /* display: flex; */
}

.about-text h2 {
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 130%;
display: flex;
align-items: center;
letter-spacing: 0.06em;
color: #545454;
} 

.about-text img {
    margin-right: 10%;
}

.about-text p {
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #4C4C4C;
}

.about-text p + p {
    margin-top: 20px;
}

.navbar-header .active a {
    /* padding-bottom: 3px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    font-weight: 500; */
}

.navbar-header a:hover {
    /* opacity: 1; */
}

.title {
    /* text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    margin-left: 3px; */
}
