body {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* width: 1200px; */
    min-width: 495px;

    margin: 0 auto;
    height: 100%;
    text-align: center;
    align-items: center;
}

.input-container {
    /* display: flex; */
    /* min-width: 495px; */
    height: auto;
    /* flex-direction: column; */
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #00adb5;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: 1px black solid;
    background: rgba(255, 255, 255, 0.2);
    color: #393e46;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transition: all 0.07s ease;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    max-width: 32%;
    width: 475px;
}

.keyboard__key--middle {
    width: 11%;
}
.keyboard__key--activatable::after {
    content: "";
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.use-keyboard-input {
    min-height: 45vh;
    font-size: 24px;
    max-width: 80%;
    resize: none;
    /* border: none; */
    outline: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #ffffff;
}

.pressed-button {
    background: rgba(255, 255, 255, 0.12);
}

.playing {
    transform: scale(1.1);
    /* border-color: #ffc600; */
    box-shadow: 0 0 1rem #ffc600;
}

@media screen and (max-width: 950px) {
    .use-keyboard-input {
        font-size: 16px;
    }
    .keyboard__key {
        font-size: 14px;
        /* width: 100%; */
        width: 6%;
    }
    .keyboard__key--wide {
        width: 15%;
    }

    .keyboard__key--middle {
        width: 8%;
    }

    .keyboard__key {
        margin: 2px;
    }

    .keyboard__key--extra-wide {
        width: 34%;
    }
}

@media screen and (max-width: 735px) {
    .keyboard__key {
        width: 5%;
    }
    .keyboard__key--wide {
        width: 15%;
    }

    .keyboard__key--middle {
        width: 8%;
    }
    
    .keyboard__key--extra-wide {
        width: 28%;
    }
}

@keyframes spin1 {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin2 {
    100% {
        transform: rotate(-360deg);
    }
}
