*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 200;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    background: radial-gradient(#ceefff, #689ed1);
}

body {
    min-height: 100vh;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 55px;
    font-size: 2rem;
}
.wrapper span {
    position: absolute;
    left: 272px;
    top: -113px;
    font-size: 124px;
    font-weight: 400;
    color: red;
    opacity: 0;
}

.wrapper span:first-child {
    left: 35px;
}

.calculator-grid {
    position: relative;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 83px);
    grid-template-rows: minmax(120px, auto) 40px repeat(5, 80px);
    padding: 15px 20px 25px 20px;
    color: white;
    border: 1px solid black;
    box-shadow: 10px 7px 11px #4b5650;
    border-radius: 1%;
    background-color: #151515;
}

.calculator-grid > button {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    outline: none;
    background-color: #2e2e2e;
}

.calculator-grid .grey-color {
    background-color: #454545;
}

.calculator-grid > button:hover {
    background-color: #535353;
}

.span-two {
    grid-column: span 2;
}

.round {
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.output {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 5px solid black;
    background-color: #373737;
    transition-property: border;
    transition-duration: 1s;
    box-sizing: border-box;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
